<form {{action 'submitAction' on='submit'}}>
    <fieldset>
        <div class="form-group">
            <label for="dcFieldSelect">{{t 'item.edit.key'}}:</label>
          {{#x-select value=fieldToAdd id="dcFieldSelect" class="form-control"}}
            {{#each dcFields as |field|}}
              {{#x-option value=field}}{{field}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dcValueTextbox">{{t 'item.edit.value'}}:</label>
                  {{textarea value=valueToAdd id="dcValueTextbox" rows="4"  class="form-control" }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="dcLanguageInput">{{t 'item.edit.language'}}:</label>
                  {{input value=languageToAdd id="dcLanguageInput" class="form-control" }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">{{t 'item.edit.add'}}</button>
    </fieldset>
</form>