{{#if breadCrumbs.length}}
    <ol class="breadcrumb">
      {{#each breadCrumbs as |crumb|}}
          <li class={{if crumb.isCurrent 'active'}} title={{crumb.label}}>
            {{#if crumb.linkable}}
              {{#if crumb.model}}
                {{#link-to crumb.path crumb.model}}
                  {{truncate crumb.label cuttoffLength}}
                {{/link-to}}
              {{else}}
                {{#link-to crumb.path}}
                  {{truncate crumb.label cuttoffLength}}
                {{/link-to}}
              {{/if}}
            {{else}}
              {{truncate crumb.label cuttoffLength}}
            {{/if}}
          </li>
        {{#unless crumb.isCurrent}}
            <!--TODO remove these HTML separators when libsass hotfix https://github.com/sass/libsass/pull/1534 is merged in stable-->
            <li class="breadcrumb-separator">/</li>
        {{/unless}}
      {{/each}}
    </ol>
{{/if}}
