{{#if model.logo}}
    <p><img class="logo img-responsive" src="{{model.logo.retrieveLink}}" alt="{{t 'comcol.logo.alt'}}"></p>
{{/if}}
{{#if model.introductoryText}}
    <div>{{{model.introductoryText}}}</div>
{{/if}}
{{#if model.news}}
    <h2>{{t "comcol.news.head"}}</h2>
    <div>{{{model.news}}}</div>
{{/if}}
{{#if model.copyrightText}}
    <div>{{{model.copyrightText}}}</div>
{{/if}}