{{#if model.logo}}
    <p><img class="logo img-responsive" src="{{logoUrl}}" alt="{{t 'comcol.logo.alt'}}"></p>
{{/if}}
{{#if model.introductoryText}}
    <p>{{{model.introductoryText}}}</p>
{{/if}}
{{#if model.news}}
    <h2>{{t "comcol.news.head"}}</h2>
    <p>{{{model.news}}}</p>
{{/if}}
{{#if model.copyrightText}}
    <p>{{{model.copyrightText}}}</p>
{{/if}}