<a class="image-link" href="{{originalLink}}" download="{{filename}}">
{{#if thumbnailLink}}
    <img alt="{{t 'thumbnail.alt'}}" src="{{thumbnailLink}}">
{{else}}
    <img alt="{{t 'thumbnail.not-found.alt'}}" src="holder.js/100px80?text={{t 'thumbnail.not-found.alt'}}">
{{/if}}
</a>