{{items/edit/item-bitstreams-edit-table bundles=bitstreamsGroupedByBundle}}
<button class="btn btn-default" {{action "cancel" model}}>{{t "item.edit.bitstreams.cancel"}}</button>
<button class="btn btn-default" {{action "delete" model}}>{{t "item.edit.bitstreams.delete"}}</button>