{{partial "partials/header"}}
<main id="main-container" class="container {{unless isSidebarCollapsed "opened"}}">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {{side-bar}}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 main-content" {{action "collapseSidebar" preventDefault=false}}>
          {{partial "partials/flash-messages"}}
          {{bread-crumb-trail}}
          {{outlet}}
        </div>
    </div>

</main>
{{partial "partials/footer"}}