<h1 class="page-header">{{title}}</h1>
<h1>{{model.owningCollection.name}}</h1>
{{items/detailed/item-metadata-table metadata=model.metadata}}
{{bitstreams/detailed/file-section fileRows=fileRows restNamespace=restNamespace}}
{{items/detailed/collection-section collections=model.parentCollectionList}}